@using PaperCastle.Application.Dto;
@model CountryDto;

<div style="position: fixed; left: 25px; top: 80px;" class="text-white">
    <a asp-action="Index" class="btn btn-outline-success">Back</a>
</div>
<h1>@Model.Name</h1>